#window {
    location: north;
    width: 100%;
    padding: 100;
}

* {
    background-color: #282828ee;
    text-color: #ebdbb2;
    font: "Hack 17";
}

#listview {
    lines: 5;
}

#element selected {
    background-color: #ebdbb2cc;
    text-color: #282828;
}

